.randomusers {
    display: flex;
    flex-wrap: wrap;
}

.randomusers figure {
    border: solid 1px #333;
    border-radius: 10%;
    padding: .8rem;
}

.randomusers figure img {
    max-width: 100%;
    border-radius: 50%;
}